<!DOCTYPE html>
<html lang="en">
  <%- include('./../blocks/head.ejs', {title: title}) %>
  <body>
    <%- include('./../blocks/header.ejs', {isLoggedIn: isLoggedIn, isAdmin: isAdmin}) %> <%-
    include('./../blocks/footer.ejs') %>
  </body>
</html>
